<h3>Twitter Bot</h3>

{{!-- Create tweet form --}}
<form action="/tweet" method="POST">
  <label for="tweet_text">Tweet </label>
    <input id='tweet_text' name="tweet_text" type="text" placeholder="Enter Tweet" required />
  <button onclick="submit">Tweet</button>
</form>

{{!-- Search Tweet form  --}}
<form action="search-tweet" method="POST">
    <label for="search_input">Search tweet </label>
    <input id="search_input" name="search_input" type="text" placeholder="Search tweet" required />
    <label for="select">by</label>

    <select name='search_option' id="select">
        <option value="byUsername">Username</option>
        <option value="byHashtag">Hashtag</option>
    </select>
    <button onclick="submit">Search</button>
</form>