<h3>Tweet Search Results</h3>
<button onclick="location.assign('/')">Home</button>
<h3>This {{nice}} is from Akshit</h3>
<ul>
    {{#each data}}
    <li>{{this.text}}</li>
    {{/each}}
</ul>
